/*Estilos de apariencia comunes que no tienen que ver con los ejemplos del post*/
* {
	margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:/*#f1f2f3*/#00324b;
    font-family:'Segoe UI';
}
h1 {
    column-span:all;
    margin-bottom:1rem;
    color:#ff9900;
    font-weight:600;
}

h2 {
    color:#0789c9;
    font-weight:400;
}

p   {margin-bottom:1rem;}

img {
    width:100%;
    margin:1em 0;
}

a {
    color:#00324b;
}

main {
    background-color:#fff;
    padding:3rem;
    margin:3rem auto;
    max-width:800px;
    display:block;/*para IE*/
    column-count:2;
	column-gap: 3em;
	column-width: 140px;
}

